dateutils
flet
flet-cli
flet-core
flet-desktop
flet-runtime
flet-web
pydantic
numpy
pandas
pyarrow
pymupdf
python-ulid
pyyaml
simpledatatable
timeflake
tinydb
pyxirr
duckdb
duckdb-engine
sqlalchemy
styleframe
