dateutils
flet
flet-cli
flet-core
flet-desktop
flet-runtime
flet-web
pydantic
jupyter
kaleido
numpy
pandas
playwright
plotly
prefect
pyarrow
pymupdf
python-ulid
pyyaml
simpledatatable
timeflake
tinydb
pyxirr
duckdb
duckdb-engine
sqlmodel
